:root{
    --darkblue: #1C658C;
    --seablue: #398AB9;
    --seagray: rgb(216, 210, 203);
    --seawhite: rgb(237, 237, 237);
}

.bg{
    font-family: 'Courier New', Courier, monospace;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url("https://media.wired.com/photos/5bb6accf0abf932caf294b18/master/pass/waves-730260985.jpg");
}

.divider{
    position: absolute; 
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    
}

@media (max-width: 600px) {
    .divider{
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
    }
    .form-input{
        padding: 10px 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
}

@media (min-width: 600px) {
    
    .divider{
        height: 100%;
        width: min(650px, 55%);
    }

    .form-input{
        padding: 10px 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    
}

.logo-container{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    top: 40px;

    margin-top: 30px;
}

.logo{
    width: min(400px, 100%);
    position: relative;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

    
}

.form-title{
    color: var(--darkblue);
}

.form-input{
    display: block;
    color: var(--seablue);
    width: 100%;
    box-sizing: border-box;

    background: rgba(255,255,255,.3);
    border: 1px solid var(--seagray);
    border-radius: 2px;
    
}

.form-input:focus{
    outline: none;
    border: 1px solid var(--seawhite);
    background: var(--seagray);
}

.form-button {
    width: 100%;
    display: inline-block;
    padding: 13px 12px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: none;
    border-radius: 5px;

    background: var(--darkblue);
    color: #fff;

}

.form-button:hover{
    background: var(--seablue);
}

.scrolling-section {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrolling-section::-webkit-scrollbar {
    display: none;
}
.scrolling-section {
    -ms-overflow-style: none;
    scrollbar-width: none;
}